//MONTSERRAT
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format('woff');
}
$m-light: 'Montserrat-Light';
$m-regular: 'Montserrat-Regular';
$m-medium: 'Montserrat-Medium';
$m-semi-bold: 'Montserrat-SemiBold';
$m-bold: 'Montserrat-Bold';

//ROBOTO
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}
$r-regular: 'Roboto-Regular';
