@import "fonts";
@import "vars";
h1 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin-bottom: 0;
}

.section  {
  padding: 60px 0 61px 0;
  & .section-title{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    & .block-title {
      margin-bottom: 61px;
      display: inline-block;
      position: relative;
      text-align: center;
      font-family: $m-semi-bold, sans-serif;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.03em;
      z-index: 1;
      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }
    }
  }
}
.sections-title {
  &.image-text {
    background: #e5e5e5;
    padding-bottom: 59px;

    & .block-logo {
      margin-bottom: 59px;
      padding-top: 77px;

      & .block-logo-text {
        color: $t-purple;
        font-size: 42px;
        line-height: 51px;
        font-family: $m-semi-bold;
        margin-left: 46px;
      }
    }
  }
}
