@media (max-width: 1199.98px) {
  .header {
    & .navbar {
      & .navbar-nav {
        & .nav-item {
          & .nav-link {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
    & .info {
      & .connect {
        & h4 {
          font-size: 14px;
          line-height: 17px;
        }
        & a {
          font-size: 14px;
        }
        & p {
          font-size: 12px;
        }
      }
      & .line {
        margin: 0 10px;
      }
      & .country {
        margin-left: 14px;

        & a {
          margin-left: 10px;
        }
      }
    }
  }
  .index {
    .under-header {

      & .second-menu {
        & div {
          margin: 0;
        }
        & .menu {
          padding-right: 0;
          & .item {
            margin-right: 10px;
            padding: 0 4px;
            & a {
              font-size: 12px;
            }
          }
        }
      }

      & .block-buttons {
        & .cabinet-btn, .connect-btn {
          width: 100%;
          font-size: 12px !important;
          padding: 13px 25px 12px 25px;
        }
      }
    }

    .banner {
      &-subtitle {
        font-size: 45px;
        line-height: 55px;
      }

      &-title {
        font-size: 75px;
        line-height: 91px;
      }

      & h3 {
        font-size: 22px;
        line-height: 27px;
      }

      &-btn {
        & button {
          font-size: 26px;
          line-height: 32px;
        }
      }
    }

    .tariff {
      & .section-title {
        & .block-title {
          padding: 0 34px;
          font-size: 30px;
          line-height: 37px;
        }
      }
      & .block-buttons {
        line-height: 22px;
      }

      & .slick-slider {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
      & .slider-item{
        & .card {
          width: 280px;
          &.hit::after {
            top: -29px;
            right: 0;
          }
          & .card-body-package {
            & ul {
              margin-top: 19px;
              margin-bottom: 54px;
              display: flex;
              flex-direction: column;
              align-items: center;
              & li {
                line-height: 20px;
              }
            }

            & .card-connect-btn {
              text-align: center;
              & button {
                padding: 17px 0 16px;
              }
            }
          }

        }
      }
      }
    }

    .how-connect {
      & .section-title{
        & .block-title {
          font-size: 30px;
          line-height: 37px;
        }
      }
      & .how-title {
        & h3{
          font-size: 20px;
          line-height: 24px;
        }
      }
      & .card-wrapper {
        & .card {
          &::after {
            top: 14%;
            right: 26%;
            width: 109px;
          }
        }
      }
    }

    //choose
    // no need fix
    //choose

    .form-section {
      padding-top: 48px;
      padding-bottom: 60px;
      & .section-title{
        & .block-title {
          font-size: 35px;
          line-height: 43px;
        }
      }
    }

    .services {
      padding: 51px 0 56px 0;
      & .section-title{
        & .block-title {
          font-size: 35px;
          line-height: 43px;
        }
      }
    }

  }
  .footer {
    padding: 64px 0 29px 0;
    background-color: $bg-purple;
    .first {
      margin-bottom: 98px;
      & img {
        width: 90%;
      }
    }
    & .forth {
      p {
        font-size: 12px;
        line-height: 15px;
      }
    }

  }
}

@media (max-width: 991.98px) {
  .navbar-expand-custom {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex!important;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .none1 {
    display: none !important;
  }
  .none2 {
    display: block !important;
  }


  .header {
    & .navbar {
      & .navbar-nav {
        & .nav-item {
          margin-right: 8px;
          & .nav-link {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
    }
    & .info {
      & .connect {
        & h4 {
          font-size: 12px;
          line-height: 15px;
        }
        & a {
          font-size: 14px;
          line-height: 16px;
        }
        & p {
          font-size: 10px;
          line-height: 12px;
        }
      }
      & .line {
        margin: 0;
      }
      & .country {
        margin-left: 0;

        & a {
          font-size: 10px;
          line-height: 12px;
          margin-left: 0;
        }
      }
    }
  }
  .index {
    .under-header {
      & .logo {
        & img {
          width: 90%;
        }

      }
      & .second-menu {
        & .menu {
          padding-right: 0;
          & .item {
            margin-right: 2px;

            & a {
              margin-right: 0;
            }
            & img {
              width: 27px;
              height: 25px;
            }
            & a {
              font-size: 8px;
              margin-left: 4px;
            }
          }
        }
      }

      & .block-buttons {
        & .cabinet-btn, .connect-btn {
          width: 100%;
          font-size: 12px !important;
          padding: 13px 25px 12px 25px;
        }
      }
    }
    .banner {
      &-subtitle {
        font-size: 35px;
        line-height: 43px;
      }

      &-title {
        font-size: 55px;
        line-height: 67px;
      }

      & h3 {
        font-size: 18px;
        line-height: 22px;
      }

      &-btn {
        & button {
          font-size: 22px;
          line-height: 27px;
        }
      }
    }
    .tariff {
      & .section-title {
        & .block-title {
          padding: 0 34px;
          font-size: 26px;
          line-height: 32px;
        }
      }
      & .container {
        & .row {
          flex-wrap: nowrap;
        }
      }
      & .block-buttons {
        font-size: 14px;
        line-height: 17px;
      }
      & .slider-custom {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;

        & .card {
          margin-right: 10px;
          position: relative;
          z-index: 1;
          border: none;
          padding-top: 40px;
          padding-bottom: 23px;
          width: 300px;
          &.hit::after {
            top: -29px;
            right: 0;
          }


          & .card-body-package {
            & ul {
              margin-top: 19px;
              margin-bottom: 54px;
              display: flex;
              flex-direction: column;
              align-items: center;
              & li {
                line-height: 20px;
              }
            }

            & .card-connect-btn {
              text-align: center;
              & button {
                padding: 17px 0 16px;
              }
            }
          }

        }
      }
    }

    .how-connect {
      & .section-title{
        & .block-title {
          font-size: 26px;
          line-height: 32px;
        }
      }
      & .how-title {
        & h3{
          font-size: 16px;
          line-height: 20px;
        }
      }
      & .card-wrapper {
        & .card {
          &::after {
            top: 31%;
            right: 39%;
            width: 109px;
          }
          &-title {
            margin-bottom: 20px;
            & h3 {
              font-size: 90px;
              line-height: 110px;
            }
            & h4 {
              font-size: 16px;
              line-height: 20px;
            }

          }
          &-body {
            &-text {
              font-size: 12px;
            }
          }
        }
      }
    }
    .choose {
      background-color: #f8f8f8;
      & .section-title {
        & .block-title {
          font-size: 26px;
          line-height: 32px;
        }
      }

      .slider-custom {
        .card {
          height: 350px;
          width: 100%;
          margin-right: 30px;
          margin-left: 0;
          &:last-child{
            margin-right: 0;
          }
          &-body {
            &-button {
              font-size: 16px;
              line-height: 20px;
              padding: 11px 26px;
            }
            & img {
              width: 100%;
            }
            &-text {
              font-size: 10px;
            }
          }
        }
      }

    }

    .form-section {
      padding-top: 48px;
      padding-bottom: 60px;
      & .section-title{
        & .block-title {
          font-size: 26px;
          line-height: 32px;
        }
      }

      & .form-title {
        & h3 {
          font-size: 20px;
          line-height: 24px;
        }
      }
      & .form {

        & button.form-size {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .services {
      & .section-title{
        & .block-title {
          font-size: 26px;
          line-height: 32px;
        }
      }
      & .description {
        & p {
          font-size: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .footer {
    .first {
      margin-bottom: 98px;
      & .footer-connect, & .footer-support, & .footer-emergency, {
        & h5 {
          font-size: 14px;
          line-height: 17px;
        }
        & a {
          font-size: 12px;
          line-height: 15px;
        }
        & p {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
    .second {
      margin-bottom: 90px;
      & .footer-services, .footer-address, .footer-contact {
        & h5 {
          font-size: 16px;
          line-height: 20px;
        }
        & p {
          font-size: 10px;
        }
      }
      & .footer-address{
        & h5{
          font-size: 10px;
        }
      }
    }
    & .third {
      margin-bottom: 56px;
      & .social-block {
        & a {
          margin-right: 6px;
        }
      }
    }
    & .forth {
      p {
        font-size: 8px;
        line-height: 10px;
      }
    }

  }


}

@media (max-width: 767.98px){
  .index {
    .under-header {

      & .second-menu {
        & div {
          margin: 0;
        }

        & .menu {
          padding-right: 0;

          & .item {
            margin-right: 10px;
            padding: 0;

            & a {
              font-size: 8px;
            }
          }
        }
      }

      & .block-buttons {
        & .cabinet-btn, .connect-btn {
          width: 100%;
          font-size: 12px !important;
          padding: 13px 25px 12px 25px;
        }
      }
    }

    .how-connect {
      & .how-title {
        & h3{
          font-size: 13px;
        }
      }
      & .card-wrapper {
        & .card {
          &::after {
            background: none;
          }
          &:nth-child(1)::after {
            background: url("../img/Arrowmy.svg") no-repeat;
            top: 34%;
            left: 0;
            width: 100%;
          }
          &:nth-child(3)::after {
            background: url("../img/arrowpoint.png") no-repeat;
            top: 37%;
            left: 0;
            width: 205%;
          }
          &-title {
            margin-bottom: 20px;
            & h3 {
              font-size: 90px;
              line-height: 110px;
            }
            & h4 {
              font-size: 16px;
              line-height: 20px;
            }

          }
          &-body {
            &-text {
              font-size: 12px;
            }
          }
        }
      }
    }
    .form-section {

      & .form-title {
        & h3 {
          font-size: 16px;
          line-height: 20px;
        }
      }
      & .form {
        display: flex;
        flex-direction: column;
        & input {
          margin-bottom: 32px;
        }
        & button.form-size {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
  .footer {
    & .first {
      & .footer-logo {
        margin-bottom: 32px;
        & img {
          width: 35%;
        }
      }
    }
  }
}



@media (max-width: 575.89px) {

}
