.carousel-control-next-icon {
  border-top: 1px solid $orange;
  border-right: 1px solid $orange;
  padding: 22px;
  transform: rotate(45deg);
  background: transparent;
}
.carousel-control-prev, .carousel-control-next  {
  top: 60px;
  right: 30px;
}



@media (min-width: 992px) {

  .carousel-control-prev, .carousel-control-next {
    top: -843px;
    right: -47px;
    display: contents;
  }
  .arrow {
    display: none;
  }
}
