.slider-arrows {
  position: absolute;
  cursor: pointer;
  border-top: 1px solid $orange;
  border-right: 1px solid $orange;
  padding: 22px;
  background: transparent;
  &.slider-arrows__right{
    transform: rotate(45deg);
    top: 52%;
    right: -70px;
    &--1{
      transform: rotate(45deg);
      top: 52%;
      right: -70px;
    }
  }
  &.slider-arrows__left{
    transform: rotate(-135deg);
    top: 52%;
    left: -70px;
    &--1{
      transform: rotate(-135deg);
      top: 52%;
      left: -70px;
    }
  }
}
.slider-container,.slider-container--1{
  margin-right: auto;
}


//@media (min-width: 992px) {
//
//  .carousel-control-prev, .carousel-control-next {
//    top: -843px;
//    right: -47px;
//    display: contents;
//  }
//  .arrow {
//    display: none;
//  }
//}
