@import "global";
@import "vars";
@import "libs";
@import "fonts";
@import "slider";


.header {
  background: $purple;
  font-family: $Inter;

  & .navbar {
    padding: 0;
    & .navbar-nav {
      & .nav-item {
        padding: 41px 0;
        & .nav-link {
          cursor: pointer;
          font-size: 16px;
          position: relative;
          color: $t-white;
          line-height: 20px;

          &::after
          {
            position: absolute;
            left: 0;
            display: block;
            width: 0;
            height: 2px;
            content: '';
            transition: width .2s ease-in-out;
            background-color: $orange;
          }
          &:hover::after
          {
            width: 100%;
          }
        }
      }
    }
  }
  & .info {
    & .connect {
      & h4 {
        font-size: 14px;
        color: $t-white;
        font-weight: 300;
      }
      & a {
        font-size: 16px;
        color: $t-orange;
        text-decoration: none;
      }
      & p {
        font-size: 12px;
        color: $t-white;
        margin: 0;
      }
    }
    & .line {
      background-color: $orange;
      width: 1px;
      height: 59px;
      align-self: center;
      margin: 0 26px 0 20px;
    }
    & .country {
      margin-left: 45px;

      & a {
        margin-left: 18px;
        font-size: 16px;
        text-decoration: none;
        color: $t-white;
      }
    }
  }
}

//section 1
.under-header {
  padding: 37px 0;
  background-color: #f8f8f8;

  & .logo {
    display: flex;
    align-items: center;
  }
  & .second-menu {
    & .menu {
      margin-bottom: 0;

      & .item {
        margin-right: 38px;

        & a {
          font-size: 14px;
          color: $t-purple;
          margin-left: 9px;
          text-decoration: none;
          &:hover {
            border-bottom: 1px solid $t-orange;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  & .block-buttons {
    & .cabinet-btn, .connect-btn {
      padding: 13px 50px 12px 50px;
      font-size: 16px;
      line-height: 20px;
      color: $t-white;
      border: none;
      outline: none;
      font-weight: 300;
    }
    & .cabinet-btn {
      background-color: $bg-purple;
      margin-bottom: 9px;
    }
    & .connect-btn {
      background-color: $bg-orange;
    }
  }
}
//section 1

//section 2
.banner {
  background-size: cover;
  background: url('../img/bg-banner.jpg') no-repeat center;
  padding-bottom: 93px;
  padding-top: 74px;


  &-subtitle {
    font-size: 65px;
    font-weight: 300;
    color: $t-white;
    line-height: 79px;
  }
  &-title {
    font-weight: 600;
    font-size: 91px;
    line-height: 111px;
    color: $t-white;
    text-transform: uppercase;
    margin-bottom: 37px;
  }
  & h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    color: $t-white;
    margin-bottom: 60px;
    width: 76%;
  }
  &-btn {
    & button {
      font-style: normal;
      font-weight: 500;
      font-size: 33px;
      line-height: 40px;
      background: $bg-orange;
      color: $t-white;
      padding: 24px 128px;
      outline: none;
      border: none;
    }
  }
}
//section 2

//section 3
.tariff {
  background-color: #f8f8f8;
  & .section-title{
    width: 25%;
    margin: 0 auto;
    & .block-title {
      padding: 60px 0 61px 0;
      position: relative;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.03em;
      color: $t-purple;;
      z-index: 1;
      &::before {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;;
        display: block;
      }
      &::after {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }

    }
  }

  & .block-buttons {
    text-align: center;
    margin-bottom: 39px;

    & button:first-child {
        padding: 17px 70px 16px 68px;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        outline: none;
        border: 1px solid $t-purple;
        background-color: transparent;
        color: $t-purple;
        width: 250px;

        &:hover {
          border: 1px solid $bg-purple;
          background-color: $bg-purple;
          color: $t-white;
        }
    }
    & button:last-child {
      padding: 17px 42px 16px 42px;
      font-size: 22px;
      line-height: 27px;
      outline: none;
      border: 1px solid $orange;
      background-color: transparent;
      color: $t-orange;
      width: 250px;

      &:hover {
        border: 1px solid $orange;
        background-color: $orange;
        color: $t-white;
      }
    }
  }
  .carousel-control-prev, .carousel-control-next {
    top: 60px;
  }
  & .slider-custom {
    display: flex;
    justify-content: space-around;
    padding: 30px 15px;

    & .card {
      position: relative;
      z-index: 1;
      border: none;
      padding-top: 40px;
      &:nth-child(2)::after {
        position: absolute;
        content: "";
        background-image: url("../img/hit.png");
        width: 73px;
        height: 73px;
        right: -30px;
        top: -20px;
        z-index: 100;
      }
      &:nth-child(3)::after {
        position: absolute;
        content: "";
        background-image: url("../img/hit.png");
        width: 73px;
        height: 73px;
        right: -30px;
        top: -20px;
        z-index: 100;
      }
      & .card-title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-image {
          & img {
            width: 56px;
            height: 56px;
          }
        }
        & h4 {
          font-size: 30px;
          line-height: 37px;
          font-weight: 600;
          letter-spacing: 0.03em;
          color: $t-purple;
        }
      }
      &-line {
        width: 70%;
        height: 2px;
        margin: 37px auto 51px;
        background-color: $orange;
      }
      & .card-body-package {
        & .card-body-title {
          text-align: center;
          font-style: normal;
          color: $t-purple;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.03em;
          margin-bottom: 10px;
        }
        & .card-body-btn {
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.03em;
          background-color: $bg-orange;
          border: none;
          outline: none;
          color: $t-white;
          padding: 10px 106px;
        }

        & ul {
          margin-top: 19px;
          margin-bottom: 54px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & li {
            width: 50%;
            color: $t-purple;
            font-size: 16px;
            text-align: center;
            position: relative;
            margin-bottom: 30px;
            &::before {
              position: absolute;
              content: "";
              background-image: url("../img/present.png");
              left: -50px;
              top: 5px;
              width: 37.1px;
              height: 40px;
            }
          }
        }
        & .card-price {
          text-align: center;
          color: $t-purple;
          font-size: 47px;
          font-weight: bold;
          margin-bottom: 30px;
          & span {
            font-weight: normal;
          }
        }
        & .card-connect-btn {
          text-align: center;
          & button {
            width: 90%;
            padding: 17px 55px 16px;
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
            outline: none;
            border: none;
            background-color: $bg-orange;
            color: $white;
          }
        }
      }
    }
  }
}
//section 3

//section 4
.how-connect {
  & .section-title{
    width: 25%;
    margin: 0 auto;
    & .block-title {
      margin: 60px 0 61px 0;
      position: relative;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.03em;
      color: $t-purple;;
      z-index: 1;
      &::before {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;;
        display: block;
      }
      &::after {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }
    }
  }

  & .card-wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    & .card {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background: url("../img/Arrow.jpg") no-repeat;
        width: 40%;
        height: 10px;
        top: 54%;
        right: -7%;
        display: block;
        z-index: 200;
      }
      &:last-child::after {
        content: none;
      }

      border: none;
      &-title {
        margin-bottom: 45px;
        & h3 {
          color: $t-orange;
          font-weight: 300;
          font-size: 90px;
          line-height: 110px
        }
        & h4 {
          color: $t-purple;
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.03em;
        }
      }
      &-body {
        padding: 0;
        &-text {
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.03em;
          color: $t-purple;
          width: 80%;

        }
      }
    }
  }
}
//section 4


//section 5
.choose {
  padding-bottom: 90px;
  & .section-title{
    width: 25%;
    margin: 0 auto;
    & .block-title {
      margin: 60px 0 61px 0;
      position: relative;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;
      letter-spacing: 0.03em;
      color: $t-purple;;
      z-index: 1;
      &::before {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;;
        display: block;
      }
      &::after {
        position: absolute;
        background: url("../img/title-line.png");
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }
    }
  }
  .slider-custom {
    display: flex;
    justify-content: space-between;
    .card {
      width: 27%;
      border: none;
      margin: 0 20px;
      &-title {
        margin-bottom: 36px;
        & img {
          width: 89px;
          height: 89px;
          object-fit: contain;
        }
      }
      &-body {
        padding: 0;
        &-button {
          font-weight: 600;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.03em;
          padding: 11px 26px;
          background-color: $bg-orange;
          outline: none;
          border: none;
          width: 100%;
          color: $t-white;
          margin-bottom: 28px;
        }
        & img {
          width: 100%;
          margin-bottom: 21px;
        }
        &-text {
          color: $t-purple;
          font-weight: 300;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.03em;
        }
      }
    }
  }

}
//section 5

//section 6
.form-section {
  background-color: $t-orange;
  padding: 60px 0 61px 0;
  & .section-title{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    & .block-title {
      margin-bottom: 48px ;
      padding: 0 16px;
      display: inline-block;
      position: relative;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 43px;
      line-height: 43px;
      letter-spacing: 0.03em;
      color: $t-white;
      z-index: 1;
      &::before {
        position: absolute;
        background: url("../img/Line32.jpg");
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;;
        display: block;
      }
      &::after {
        position: absolute;
        background: url("../img/Line32.jpg");
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }

    }
  }
  & .form-title {
    & h3 {
      width: 100%;
      color: $t-white;
      font-weight: 300;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
    }
  }

  & .form {
    margin-top: 63px;
    margin-bottom: 12px;
    & .form-size {
      width: 321px;
      height: 53px;
      background-color: transparent;
      border: 1px solid $white;
      padding: 10px;
      text-align: center;
      color: $white;
      margin-right: 14px;
      font-size: 16px;
      transition: all .2s linear;

      &::placeholder {
        color: $t-white;
      }
      &:focus{
        outline: none;
        transition: all .2s linear;
        &::placeholder{
          opacity: 0;
          transition: all .2s linear;
        }
      }
    }
    & button.form-size {
      background-color: $bg-purple;
      border: 1px solid $purple;
      margin-right: 0;
      font-size: 22px;

    }
  }
}
//section 6

//section 7
.services {
  background-color: #f8f8f8;
  padding: 62px 0 70px 0;

  & .section-title{
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    & .block-title {
      margin-bottom: 48px ;
      padding: 0 27px;
      display: inline-block;
      position: relative;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 43px;
      line-height: 43px;
      letter-spacing: 0.03em;
      color: $t-purple;
      z-index: 1;
      &::before {
        position: absolute;
        background: url("../img/Line28.png");
        content: '';
        top: 50%;
        left: -150%;
        width: 150%;
        height: 2px;;
        display: block;
      }
      &::after {
        position: absolute;
        background: url("../img/Line28.png");
        content: '';
        top: 50%;
        right: -150%;
        width: 150%;
        height: 2px;
        display: block;
      }
    }
  }
  & .info-wrap {
    margin-bottom: 30px;
    & img {
      margin-right: 17px;
      margin-left: 18px;
      align-self: flex-start;
    }
    & p {
      margin-bottom: 0;
    }
  }
  & .description {
    & p {
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 20px;
      letter-spacing: 0.03em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
//section 7

//footer
.footer {
  padding: 64px 0 29px 0;
  background-color: $bg-purple;
  .first {
    margin-bottom: 98px;
    & .footer-connect, & .footer-support, & .footer-emergency, {
      & h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $t-white;
        margin-bottom: 10px;
      }
      & a {
        display: block;
        color: $t-white;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;

      }
      & p {
        color: $t-white;
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;

      }
    }
    //&-support {
    //  & h5 {
    //    font-style: normal;
    //    font-weight: 600;
    //    font-size: 20px;
    //    line-height: 24px;
    //    letter-spacing: 0.03em;
    //    color: $t-white;
    //    margin-bottom: 10px;
    //
    //  }
    //  & a {
    //    display: block;
    //    color: $t-white;
    //    text-decoration: none;
    //    font-style: normal;
    //    font-weight: 500;
    //    font-size: 18px;
    //    line-height: 22px;
    //    margin-bottom: 10px;
    //
    //  }
    //  & p {
    //    color: $t-white;
    //    font-style: normal;
    //    font-weight: 300;
    //    font-size: 16px;
    //    line-height: 20px;
    //    margin-bottom: 10px;
    //
    //  }
    //
    //}
    //&-emergency{
    //  & h5 {
    //    font-style: normal;
    //    font-weight: 600;
    //    font-size: 20px;
    //    line-height: 24px;
    //    letter-spacing: 0.03em;
    //    color: $t-white;
    //    margin-bottom: 10px;
    //
    //  }
    //  & a {
    //    display: block;
    //    color: $t-white;
    //    text-decoration: none;
    //    font-style: normal;
    //    font-weight: 500;
    //    font-size: 18px;
    //    line-height: 22px;
    //    margin-bottom: 10px;
    //
    //  }
    //  & p {
    //    color: $t-white;
    //    font-style: normal;
    //    font-weight: 300;
    //    font-size: 16px;
    //    line-height: 20px;
    //    margin-bottom: 10px;
    //  }

  }
  .second {
    margin-bottom: 90px;
    & .footer-services, .footer-address, .footer-contact {
      & h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: $t-white;
        margin-bottom: 73px;

      }
      & p {
        color: $t-white;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
  & .third {
    margin-bottom: 56px;
    & .social-block {
      & a {
        margin-right: 6px;
      }
    }
  }
  & .forth {
    p {
      color: $t-white;
      font-style: normal;
      font-weight: 200;
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 14px;
    }
  }

}
//footer
@import "media";


